{% extends 'Donor/Donor_base.html' %}
{% block Search_bar %}
 <form method="get" class="form-inline search-forms">
       <div class="d-none d-md-flex ms-4">
           {{ bloodfilter.form }}
           <br>
           <button class="btn btn-primary nr-2" type="submit">Search</button>
       </div>
   </form>
{% endblock %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl no</th>
      <th scope="col">ReveiverName</th>
      <th scope="col">Date</th>
      <th scope="col">BloodGroup</th>
      <th scope="col">Hospitalname</th>
      <th scope="col">Place</th>
      <th scope="col">contact</th>

    </tr>
  </thead>
  <tbody>
   {% for i in data %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.ReceiverName.name}}</td>
      <td>{{i.date}}</td>
      <td>{{i.Blood}}</td>
      <td>{{i.HospitalName}}</td>
      <td>{{i.Place}}</td>
      <td>{{i.Contact}}</td>
        {% if i.Status == 0 %}
        <td><a href="{% url 'Donate' i.id %}" class="btn btn-primary " tabindex="-1" role="button" aria-disabled="true">Donate</a></td>
        {% elif i.Status == 1 %}
        <td><h6> Donation Processing</h6></td>
        {% elif i.Status == 2 %}
        <td><h6>Donation Compleated</h6></td>
        {% endif %}


    </tr>
    {% endfor %}
   </tbody>
</table>
     {% endblock %}